@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700&family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(31, 41, 55);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

b{
  font-weight: 700;
}

h1, h2, h3 {
  font-family: 'Hepta Slab', sans-serif;
  font-weight: 700;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}